[hubic]
email = {{ backup_credential_hubic_email }}
password = {{ backup_credential_hubic_password }}
client_id = {{ backup_credential_hubic_client_id }}
client_secret = {{ backup_credential_hubic_client_secret }}
redirect_uri = {{ backup_credential_hubic_redirect_uri }}